<div class="bg-white shadow-lg rounded-lg flex items-center px-2 py-2">
  <div class="w-1/2 h-20">
    <%= image_tag category.icon, alt: "#{category.name}", class: "w-20 h-20" %>
  </div>
  <div class="flex flex-row justify-between items-center w-1/2">
    <%= link_to category.name, category_transaction_entries_path(category), class: "nav-link justify-start" %>
    <%= category.created_at.strftime('%d %b %Y') %>
    <span class="justify-end">$<%= category.transaction_entries.sum(:amount) %></span>
  </div> 
</div>