<div class="flex flex-col min-h-screen">
  <div>
    <% content_for :nav_button do %>
    <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link text-white" %>
    <% end %>
  </div>
  <div class="justify-center items-center">
    <% content_for :nav_button do %>
      <%= button_to categories_path, method: :get, class: "text-white px-4 py-2 rounded mt-0" do %>
        Categories
      <% end %>
    <% end %>

    <div class="mt-5 space-y-4">
    <% if @categories.present? %>
      <% @categories.each do |category| %>
        <%= render "shared/category", category: category%>
      <% end %>
    <% else %>
      <h1 class="flex justify-center text-3xl font-bold">No categories found.</h1>
    <% end %>
  </div>
  </div>

  <% content_for :footer do %>
    <div class="bg-lime-400 fixed bottom-0 left-0 w-full px-2 py-2">
      <div class="border border-white">
        <%= button_to "Add Category", new_category_path, method: :get, class: "px-2 py-2 text-white font-bold w-full" %>
      </div>
    </div>
  <% end %>
</div>
