<% content_for :nav_button do %>
  <%= button_tag "Categories", redirect_to: categories_path, class: "text-white px-4 py-2 rounded mt-0" %>
<% end %>

<div class="mx-auto px-4 flex flex-col items-center justify-center align-items-center shadow-lg rounded-lg bg-gray-100">
  <% if @categories.present? %>
      <% @categories.each do |category| %>
        <%= link_to category do %>
          <div class="container ">
            <%= render "/shared/category", category: category %>
          </div>
        <% end %>
      <% end %>
  <% else %>
    <h1 class="flex justify-center text-3xl font-bold">No categories found.</h1>
  <% end %>
</div>


<div>
<%= button_to "Add Category", new_category_path, method: :get, class: "bg-blue-500  text-white font-bold px-2 py-2 w-full border-red-700"%>
</div>