<% content_for :page_name, "TRANSACTIONS" %>
<% content_for :nav_button do %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link text-white" %>
<% end %>

<br>
<div class="text-center">
  <h1 class="text-3xl font-bold mb-8">Transactions</h1>
  <div>
    <h2 class="text-2xl font-bold mb-4"><%= @category.name %> Transactions</h2>
    <p class="text-lg mb-6">Total Amount: $<%= @category.transaction_entries.sum(:amount)  %></p>
  </div>
</div>

<% content_for :footer do %>
  <div class="bg-lime-400 fixed bottom-0 left-0 w-full px-2 py-2">
    <div class="border border-white">
      <%= button_to "Add a New Transaction", new_category_transaction_entry_path(@category), method: :get, class: "px-2 py-2 text-white font-bold w-full" %>
    </div>
  </div>
<% end %>